[submodule "Fresh/vendor/spdlog"]
	path = Fresh/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Fresh/vendor/GLFW"]
	path = Fresh/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Fresh/vendor/imgui"]
	path = Fresh/vendor/imgui
	url = https://github.com/MarkusPunnar/imgui
[submodule "Fresh/vendor/glm"]
	path = Fresh/vendor/glm
	url = https://github.com/g-truc/glm
